$static-path: '/static/style1-test';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap');

$main-color: #e00013;
$main-color-hover: #b41111b7;
$font-family-theme: 'Source Sans Pro', sans-serif;
$bg-primary: #eef2f5;
$link-header-color: #000000;
$link-header-color-hover: #dc0000;
$footer-bg: #000000;
$link-footer-color: #000000;
$link-footer-hover: #dc0000d3;
$courses-bg-image: url('#{$static-path}/images/main-header-site.jpg');

$primary: $main-color;

$action-primary-bg: $main-color;
$monospace: $font-family-theme;
$serif: $font-family-theme;
$f-serif: $font-family-theme;
$f-monospace: $font-family-theme;
$font-family-sans-serif: $font-family-theme;

@import 'edx-bootstrap/sass/open-edx/theme';
